body,
html {
    /* height: 100%; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;

    /* background-color:black; */
}

.loginpage {
    background-color: rgb(19, 4, 4);
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 30px;
    
    box-shadow: rgba(168, 168, 168, 0.63) 0px 0px 16px; 
    color: white;
    width: 50%;
    
}
.titleform{
    padding:20px;
    font-size: 25px;

}
.signup{

    border-left:2px solid #eff9fa;

}
.signup-form{
    padding-left:10px;
}
.formfeild{
height:5vh;
}